body{
    background-color: #FFFFFF;
    margin: 0%;
  }
  h1 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
  }
  .titrepetit {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    padding-left: 5px;
    padding-right: 5px;
  }
  h4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  p {
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Bellefair';
  }
  .carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%; 
    }
  .carrousel_ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    margin: 0%; 
    }
  .carrousel_ecran figure {
    margin: 0%; 
    }
.btnexpo {
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 70px;
    border: 1px solid #000000;
    width: 138px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.regroupementimgtext {
    position:relative;
}
.imgtaille {
    width: 80vw;
    display: block;
    margin: 0 auto;
    z-index:1;
}
.rectangleexpo {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: auto;
    height: auto;
    position:absolute;
    z-index:2;
    right: 20px;
    left: 190px;
    top: 230px;
}
.rectangleexpo2 {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: auto;
    height: auto;
    position:absolute;
    z-index:2;
    left: 190px;
    top: 230px;
}
.rectanglemouvement {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: auto;
    height: auto;
    position:absolute;
    z-index:2;
    right: 20px;
    left: 120px;
    top: 1010px;
    padding: 5px;
}
.imgIsidoreIsou {
    width: 70vw;
  display: block;
  margin: auto;
}
.imgAlighieroBoetti {
    width: 80vw;
  display: block;
  margin: auto;
}
.imgJacquesVilleglé {
    width: 78vw;
  display: block;
  margin: auto;

}
.imgJoaoVieira {
    width: 58vw;
  display: block;
  margin: auto;
}
.imgMiraSchendel {
    width: 55vw;
  display: block;
  margin: auto;
}
.btnvoirplus {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
.textexpo {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.flechedroite {
    display: inline-block;
    position: relative;
    left: 330px;
    bottom: 170px;
    z-index: 3;
}
.texteinfo {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.infoexpo {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 10px;
}
.flechedr {
  margin-left: 3px;
  margin-right: 3px;
}
.btnreserver {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  width: 100px;
  font-size: 15px;
  text-align: center;
  background-color: #FFFFFF;
  margin-left: 250px;
  padding: 10px;
}
.frise {
    width: 200px;
    justify-content: center;
    border-left: 7px solid #000000;
    position: relative;
    margin-left: 5%;
  }
  .flechefrise {
    width: 32px;
    height: 20px;
    background-color: #000000;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    position: absolute;
    bottom: -20px;
    left: -19.5px;
  }
  .imgfrise::before {
    content: "";
    display: block;
    height: 5px;
    width: 70px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-2.5px);
  }
  .imgfrise {
    display: block;
    width: 200px;
    justify-content: center;
    padding: 2rem 0;
    padding-left: 70px;
    position: relative;
  }
  .imgfrise img {
    display: block;
    width: 270px;
  }
  .imageartistefrise {
    display: block;
    width: 270px;
    justify-content: center;
    padding: 2rem 0;
    padding-left: 70px;
    position: relative;
  }
  .btnvoirplusfrise {
    margin-top: 180px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise2 {
    margin-top: 140px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise3 {
    margin-top: 110px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise4 {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise5 {
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise6 {
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise7 {
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise8 {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise9 {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise10 {
    margin-top: 140px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise11 {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise12 {
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 170px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise13 {
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise14 {
    margin-top: 110px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise15 {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .btnvoirplusfrise16 {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 240px;
    border: 1px solid #000000;
    width: 70px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .rectanglefrise {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: 300px;
    height: auto;
    position:absolute;
    z-index:2;
    left: 30px;
    top: 290px;
    padding: 5px;
  }
  .rectanglefrise2 {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: 240px;
    height: auto;
    position:absolute;
    z-index:2;
    left: 30px;
    top: 330px;
    padding: 5px;
  }
  .rectanglefrise3 {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: 300px;
    height: auto;
    position:absolute;
    z-index:2;
    left: 30px;
    top: 330px;
    padding: 5px;
  }
  .rectanglefrise4 {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: 240px;
    height: auto;
    position:absolute;
    z-index:2;
    left: 30px;
    top: 460px;
    padding: 5px;
  }
  .rectanglefrise5 {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: 300px;
    height: auto;
    position:absolute;
    z-index:2;
    left: 30px;
    top: 260px;
    padding: 5px;
  }
  .rectanglefrise6 {
    box-sizing: border-box;
    background: #EEEEC5;
    border: 0.5px solid #EEEEC5;
    width: 300px;
    height: auto;
    position:absolute;
    z-index:2;
    left: 30px;
    top: 270px;
    padding: 5px;
  }
  .descriptionimg {
    text-align: center;
    margin-top: 0px;
  }
  .espacecontact {
    margin-top: 20px;
  }
  .bouton_contacte_envoyer {
    background: #FFFFFF;
    border: 3px solid #EEEEC5;
    margin: 1%;
    margin-top: 30px;
  }
  .formulaire {
    border: 2px solid #EEEEC5;
    margin: 8px;
  }
  .texte_contacte {
    margin: 2%;
    font-size: 18px;
  }
  .rectangle_contacte {
    display: block;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #EEEEC5;
    box-shadow: inset 0px -16px 32px rgba(33, 34, 28, 0.05);
    border-radius: 4px;
    width: 313px;
    margin-top: 20px;
  }