body{
    background-color: #FAFAFA;
    margin: 0%;
  }
  a {
    color: #000000;
    text-decoration: none;
  }
.imgtaille {
    display: block;
    width: 200px;
    justify-content: center;
    padding: 2rem 0;
    padding-left: 70px;
    position: relative;
}
img {
    display: flex;
    width: 100%;
    }
  .carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%; 
    }
  .carrousel_ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    margin: 0%; 
    }
  .carrousel_ecran figure {
    margin: 0%; 
    }







.frise {
    width: 200px;
    justify-content: center;
    border-left: 7px solid #000000;
    position: relative;
    margin-left: 5%;
  }
  .flechefrise {
    width: 32px;
    height: 20px;
    background-color: #000000;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    position: absolute;
    bottom: -20px;
    left: -19.5px;
  }
  .imgfrise::before {
    content: "";
    display: block;
    height: 5px;
    width: 70px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-2.5px);
  }
  .imgfrise {
    display: block;
    width: 200px;
    justify-content: center;
    padding: 2rem 0;
    padding-left: 70px;
    position: relative;
  }
  .imgfrise img {
    display: block;
    width: 200px;
  }